ul.nav {
    margin:0;
    padding:0;
    list-style:none;
    height:36px; line-height:36px;
    background:#D60B22;
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
}

ul.nav li {
    border-right:1px solid #EBB9BD; /* The divisions */
    float:left;
}

ul.nav a {
    display:block;
    padding:0 28px;
    color:#F7C1C1;
    text-decoration:none;
}

ul.nav a:hover,
ul.nav li.current a {
    background:#F7001D;
}

pre.mainsig {
    display: block;
    font-family: Courier New, Courier, mono;
	font-size: 11pt;
    white-space: pre;
    margin: 1em 0;
}

.identifier {
	font-family: Courier New, Courier, mono;
	font-size: 11pt;
}

.entryblock {
}

.entrycode {
	margin-bottom: 0;
}

.entrytext {
	margin-left: 2em;
}

p {
  margin-top: 0em;
  margin-bottom: 1em;
}